.App {
  background-color: #fff;
  width: calc(100% - 32px);
  height: calc(100vh - 32px);
  margin: 16px;
}

.App-left {
  width: 700px;
  height: 100%;
  float: left;
}

.App-right {
  width: calc(100% - 700px);
  height: 100%;
  float: right;
}

.Logo {
  margin: 24px;
  width: calc(100%-48px);
}

.Logo-img {
  width: 300px;
  max-width: 100%;
}

.Logo-slogan {
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 30px;
  color: #5797C3;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Logo-gradient {
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, #5797C3 0%, #A362CD 100%);
}

.PoetryEditor {
  padding: 24px;
  height: calc(100% - 48px);
  display: flex;
  flex-direction: column;
}

.PoemTitle {
  margin-bottom: 16px;
}

.PoemTitle > input {
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.BaironPanel {
  padding: 24px;
  padding-top: 0;
}

.PoetryInput {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  width: 100%;
  border: none;
  flex: 1 0 auto;
  resize: none;
  font-family: 'Roboto Mono', monospace;
  font-style: light;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  color: #383838;
}

.PoetryInput:select {
  outline: none;
  -webkit-appearance:none;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 32px;
  color: #5797C3;
}

.widget-body {
  font-family: 'Roboto Mono', monospace;
  font-style: light;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
  color: #383838;
}

.widget-body .gray {
  color: #bababa;
}

.widget-body.tight {
  margin: 0;
}

.widget-button {
  width: 100%;
  text-decoration:none;
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;

  color: #5797C3;
  line-height:50px;

  height: auto;
  text-align:center;
  border: 2px solid #5797C3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.widget-button:hover{
  background-color:#5797C3;
  color: white;
}

.widget-button:focus {
  outline: 0;
}

.widget-search {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-weight: light;
  font-size: 16px;
  color: #383838;
  text-decoration: none;
}

.widget-search:hover {
  text-decoration: underline;
}
